.message-list-container {
    /* Container styling */
    height: 600px;
    width: 100%;
    max-width: 800px;

  
    border-radius: 8px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  
  .message-list-scroll {
    /* Scrollable area */
    flex: 1;
    overflow-y: auto;
  
    margin-bottom: 100px;
  }
  
  /* Custom scrollbar styling */
  .message-list-scroll::-webkit-scrollbar {
    width: 8px;
  }
  
 
 
  
 
  
  /* Message list styling */
  .message-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .message-item {
    /* Individual message styling */
    padding: 10px 10px 0 10px;
   

   
    transition: background-color 0.2s ease;

  }
  
 
  
  .message-sender {
    /* Sender name styling */
    font-weight: 600;
    color: #2563eb;
    margin-right: 0.5rem;
  }
  
  .message-separator {
    /* Separator between sender and message */
    color: #6b7280;
  
  }
  
  .message-content {
    /* Message content styling */
    color: #374151;
    word-break: break-word;
  }

  span.message-content {
    padding: 7px;
   
    background-color: rgb(119, 233, 119);
    border-radius: 5px 15px;
    color: #555555;
    font-weight: 500;
    font-size: 15px;
}